absl-py==2.1.0
aiobotocore==2.21.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioitertools==0.12.0
aiosignal==1.3.2
alphashape==1.3.1
anndata==0.11.1
antlr-denter==1.3.1
antlr4-python3-runtime==4.9.3
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.9.1
arrow==1.3.0
asciitree==0.3.3
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==24.3.0
automata-lib==9.0.0
babel==2.17.0
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==6.2.0
bokeh==3.6.2
botocore==1.37.1
cached_method==0.1.0
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.8
click-log==0.4.0
cloudpickle==3.1.1
cmcrameri==1.9
cmocean==4.0.3
colorcet==3.1.0
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
dask==2024.11.2
dask-expr==1.1.19
dask-image==2024.5.3
datashader==0.17.0
debugpy==1.8.13
decorator==5.2.1
decoupler==1.9.2
defusedxml==0.7.1
descartes==1.1.0
distlib==0.3.9
distributed==2024.11.2
docopt==0.6.2
docrep==0.3.2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
fa2_modified==0.3.10
fasteners==0.19
fastjsonschema==2.21.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.55.3
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.2.0
gast==0.6.0
geopandas==1.0.1
google-pasta==0.2.0
grpcio==1.68.1
gseapy==1.1.7
gudhi==3.11.0
h11==0.14.0
h5py==3.12.1
harmony==1.2.4063
harmonypy==0.0.10
httpcore==1.0.7
httpx==0.28.1
identify==2.6.9
idna==3.10
igraph @ file:///home/conda/feedstock_root/build_artifacts/python-igraph_1732035162797/work
imageio==2.36.1
importlib_metadata==8.6.1
inflect==7.5.0
ipykernel==6.29.5
ipython==8.12.3
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.7.0
kiwisolver==1.4.7
lazy_loader==0.4
legacy-api-wrap==1.4.1
leidenalg==0.10.2
liana==1.5.1
libclang==18.1.1
llvmlite==0.44.0
locket==1.0.0
louvain @ file:///home/conda/feedstock_root/build_artifacts/louvain_1710763266122/work
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-scalebar==0.9.0
matplotlib-venn==1.1.2
mdurl==0.1.2
mistune==3.1.3
mizani==0.13.3
ml-dtypes==0.4.1
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
mudata==0.3.1
multidict==6.1.0
multipledispatch==1.0.0
multiscale_spatial_image==2.0.2
munkres==1.1.4
namex==0.0.8
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nodeenv==1.9.1
notebook==7.3.3
notebook_shim==0.2.4
numba==0.61.2
numcodecs==0.13.1
numpy==2.2.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
ome-zarr==0.10.3
omnipath==1.0.9
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
param==2.2.0
parso==0.8.4
partd==1.4.2
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
PIMS==0.7
pipreqs==0.5.0
platformdirs==4.3.7
plotnine==0.14.5
pooch==1.8.2
POT==0.9.5
pre_commit==4.2.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==5.29.2
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pycparser==2.22
pyct==0.5.0
pydot==3.0.4
Pygments==2.18.0
pynndescent==0.5.13
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.7.1
PySCIPOpt==5.4.1
python-dateutil==2.9.0.post0
python-igraph==0.11.8
python-json-logger==3.3.0
python-louvain==0.16
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.3.0
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.23.1
rpy2==3.5.17
rtree==1.4.0
s3fs==2024.2.0
scanpy==1.10.4
scikit-image==0.25.0
scikit-learn==1.6.0
scikit-misc==0.5.1
scikit-network==0.33.1
scipy==1.14.1
seaborn==0.13.2
Send2Trash==1.8.3
session_info==1.0.0
shapely==2.0.7
six==1.17.0
slicerator==1.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpaceFlow==1.0.4
SpaGCN==1.2.7
spatial_image==1.2.1
spatialdata==0.3.0
squidpy==1.6.5
stack-data==0.6.3
statsmodels==0.14.4
stdlib-list==0.11.0
sympy==1.13.1
tblib==3.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
texttable @ file:///tmp/build/80754af9/texttable_1633095311315/work
threadpoolctl==3.5.0
tifffile==2024.12.12
tinycss2==1.4.0
tomli==2.2.1
toolz==1.0.0
torch==2.5.1+cu118
torch-geometric==2.6.1
torch_cluster @ https://data.pyg.org/whl/torch-2.5.0%2Bcu118/torch_cluster-1.6.3%2Bpt25cu118-cp310-cp310-linux_x86_64.whl#sha256=cebe0245611029d4e0e45c6ec0dfc55102858c19ef25ae1ad62259a03841f349
torch_scatter @ https://data.pyg.org/whl/torch-2.5.0%2Bcu118/torch_scatter-2.1.2%2Bpt25cu118-cp310-cp310-linux_x86_64.whl#sha256=45a153f7863b5cba9515fb92ed987cf148fcf8ffcb53c91858c35aa9c99fc706
torch_sparse @ https://data.pyg.org/whl/torch-2.5.0%2Bcu118/torch_sparse-0.6.18%2Bpt25cu118-cp310-cp310-linux_x86_64.whl#sha256=9df55e71169ddb1872f222e18ba827de9851d0433b7a67c2f97d4c1d60966d79
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trimesh==4.6.5
triton==3.1.0
typeguard==4.4.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
umap-learn==0.5.7
uri-template==1.3.0
urllib3==2.2.3
validators==0.34.0
virtualenv==20.30.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wrapt==1.17.0
xarray==2024.11.0
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
xyzservices==2024.9.0
yarg==0.1.9
yarl==1.18.3
zarr==2.18.3
zict==3.0.0
zipp==3.21.0
